<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>What Command Is That Again?</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="jumbotron text-center">
    <h1><span th:text="${'Claim ' + {claim.id}}"></span></h1>
</div>

<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">Patient</div>
        <div class="panel-body">
            <table class="table table-striped table-border">
                <tr>
                    <th>First Name</th>
                    <th>Middle Initial</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Sex</th>
                    <th>Marital Status</th>
                </tr>
                <tr>
                    <td th:text="${claim.patient.firstName}"></td>
                    <td th:text="${claim.patient.middleInitial}"></td>
                    <td th:text="${claim.patient.lastName}"></td>
                    <td th:text="${claim.patient.phoneNumber}"></td>
                    <td th:text="${claim.patient.sex}"></td>
                    <td th:text="${claim.patient.maritalStatus}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Primary Doctor</div>
        <div class="panel-body">
            <table class="table table-striped table-border">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                </tr>
                <tr>
                    <td th:text="${claim.patient.primaryDoctor.firstName}"></td>
                    <td th:text="${claim.patient.primaryDoctor.lastName}"></td>
                    <td th:text="${claim.patient.primaryDoctor.phoneNumber}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Primary Insurance</div>
        <div class="panel-body">
            <table class="table table-striped table-border">
                <tr>
                    <th>Company</th>
                    <th>Plan</th>
                    <th>Plan Type</th>
                    <th>Billing Code</th>
                    <th>Employer</th>
                </tr>
                <tr>
                    <td th:text="${claim.primaryInsurance.insurancePlan.insuranceProvider.name}"></td>
                    <td th:text="${claim.primaryInsurance.insurancePlan.name}"></td>
                    <td th:text="${claim.primaryInsurance.insurancePlan.type}"></td>
                    <td th:text="${claim.primaryInsurance.insurancePlan.insuranceProvider.billingCode}"></td>
                    <td th:text="${claim.primaryInsurance.employer.name}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div th:if="${claim.secondaryInsurance}" class="panel panel-default">
        <div class="panel-heading">Secondary Insurance</div>
        <div class="panel-body">
            <table class="table table-striped table-border">
                <tr>
                    <th>Company</th>
                    <th>Plan</th>
                    <th>Plan Type</th>
                    <th>Billing Code</th>
                    <th>Employer</th>
                </tr>
                <tr>
                    <td th:text="${claim.secondaryInsurance.insurancePlan.insuranceProvider.name}"></td>
                    <td th:text="${claim.secondaryInsurance.insurancePlan.name}"></td>
                    <td th:text="${claim.secondaryInsurance.insurancePlan.type}"></td>
                    <td th:text="${claim.secondaryInsurance.insurancePlan.insuranceProvider.billingCode}"></td>
                    <td th:text="${claim.secondaryInsurance.employer.name}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>